    <div class="desktopContainer">
        <!-- <div class="sidebar">
            <div class="sidebarItemContainer">
                <div class="notioLogo">
                    <img src="assets/images/Logo.svg" alt="">
                </div>
                <div class="sidebarItems">

                <div class="Dashboard">
                    <span>
                        <img src="assets/images/Widget_alt.svg" alt="">
                    </span>
                    <span><a routerLink="/">Dashboard</a></span>
                </div>
                <div class="Articles">
                    <span>
                        <img src="assets/images/notebook_fill.svg" alt="">
                    </span>
                    <span>Articles</span>
                </div>
                <div class="Notes">
                    <span>
                        <img src="assets/images/Folder_alt_fill.svg" alt="">
                    </span>
                    <span>
                        <a routerLink="/notes">Notes</a>
                    </span>
                </div>
                <div class="Profile">
                    <span>
                        <img src="assets/images/User_box_fill.svg" alt="">
                    </span>
                    <span><a href="/SignUp.html">Profile</a></span>
                </div>
                <div class="Payouts">
                    <span>
                        <img src="assets/images/Money_fill.svg" alt="">
                    </span>
                    <span>Payouts</span>
                </div>

                </div>
            </div>
        </div> -->

        <div class="dashboard">
        <div class="dashboardHeaderTitle">
            <span>
                Dashboard
            </span>
            <p>Welcome back Abhishek</p>
        </div>

        <div class="notioNotes">
            <div class="topNotes">
                <span>Top Notes</span>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Branch</th>
                        <th>Views</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VLSI Notes</td>
                            <td>3rd Year ECE</td>
                            <td>20K</td>
                        </tr>
                        <tr>
                            <td>VLSI Notes</td>
                            <td>3rd Year ECE</td>
                            <td>20K</td>
                        </tr>
                        <tr>
                            <td>VLSI Notes</td>
                            <td>3rd Year ECE</td>
                            <td>20K</td>
                        </tr>
                        <tr>
                            <td>VLSI Notes</td>
                            <td>3rd Year ECE</td>
                            <td>20K</td>
                        </tr>
                    </tbody>
                </table>
                <div class="viewAll">
                    <span>View All</span>
                </div>
            </div>
            <div class="flaggedNotes">
                <span>Flagged Notes</span>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Flags</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VLSI Notes</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>VLSI Notes</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>VLSI Notes</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>VLSI Notes</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
                <div class="viewAll">
                    <span>View All</span>
                </div>
            </div>
        </div>

        <div class="topContributorsContainer">
            <div class="topContributors">
                <div class="topContributorsHeading">
                    <span>Your Top Contributors</span>
                    <p>Your Contributor stats</p>
                </div>
            </div>

                <div class="contributorCardsContainer">

                    <div>
                    <span class="contibutorProfilePic"></span>
                    <div class="contributorCard">
                        <span>Name</span>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Revenue</td>
                                    <td>5000</td>
                                </tr>
                                <tr>
                                    <td>Views</td>
                                    <td>25 K</td>
                                </tr>
                                <tr>
                                    <td>Active Notes</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Referrals</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div>
                    <span class="contibutorProfilePic"></span>
                    <div class="contributorCard">
                        <span>Name</span>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Revenue</td>
                                    <td>5000</td>
                                </tr>
                                <tr>
                                    <td>Views</td>
                                    <td>25 K</td>
                                </tr>
                                <tr>
                                    <td>Active Notes</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Referrals</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <span class="contibutorProfilePic"></span>
                    <div class="contributorCard">
                        <span>Name</span>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Revenue</td>
                                    <td>5000</td>
                                </tr>
                                <tr>
                                    <td>Views</td>
                                    <td>25 K</td>
                                </tr>
                                <tr>
                                    <td>Active Notes</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Referrals</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <span class="contibutorProfilePic"></span>
                    <div class="contributorCard">
                        <span>Name</span>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Revenue</td>
                                    <td>5000</td>
                                </tr>
                                <tr>
                                    <td>Views</td>
                                    <td>25 K</td>
                                </tr>
                                <tr>
                                    <td>Active Notes</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>Referrals</td>
                                    <td>5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                </div>


            </div>
            <span class="cardSwipe">
                <img src="assets/images/Swipe.svg" alt="">
            </span>

        </div>
    </div>

