
    <div class="desktopContainer">
        <!-- <div class="sidebar">
            <div class="sidebarItemContainer">
                <div class="notioLogo">
                    <img src="assets/images/Logo.svg" alt="">
                </div>
                <div class="sidebarItems">

                <div class="Dashboard">
                    <span>
                        <img src="assets/images/Widget_alt.svg" alt="">
                    </span>
                    <span><a href="/Desktop7.html">Dashboard</a></span>
                </div>
                <div class="Articles">
                    <span>
                        <img src="assets/images/notebook_fill.svg" alt="">
                    </span>
                    <span>Articles</span>
                </div>
                <div class="Notes">
                    <span>
                        <img src="assets/images/Folder_alt_fill.svg" alt="">
                    </span>
                    <span>
                        <a href="./Notes.html">Notes</a>
                    </span>
                </div>
                <div class="Profile">
                    <span>
                        <img src="assets/images/User_box_fill.svg" alt="">
                    </span>
                    <span>
                        <a href="/SignUp.html">Profile</a>
                    </span>
                </div>
                <div class="Payouts">
                    <span>
                        <img src="assets/images/Money_fill.svg" alt="">
                    </span>
                    <span>Payouts</span>
                </div>

                </div>
            </div>
        </div> -->

        <div class="dashboard">
            <div class="dashboardHeaderTitle">
                <span>
                    Notes
                </span>
                <p>Welcome back Abhishek</p>
            </div>
            <div class="notesContainer">
                <div class="searchNotes">
                    <span><img src="assets/images/Search_alt_fill.svg" alt=""></span>
                    <input type="search">
                </div>

                <table>
                    <thead>
                        <th>Name</th>
                        <th>Creator</th>
                        <th>Views</th>
                        <th>Flags</th>
                        <th>Actions</th>
                        <th>View</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VLSI Technology</td>
                            <td>Monkey D Luffy</td>
                            <td>45 K</td>
                            <td>10</td>
                            <td>
                                <span>
                                   <img src="assets/images/Subtract.svg" alt="">
                                </span>
                                <span>
                                   <img src="assets/images/Subtract2.svg" alt="">
                                </span>
                            </td>
                            <td>
                                <span>View</span>
                            </td>
                        </tr>
                        <tr>
                            <td>VLSI Technology</td>
                            <td>Monkey D Luffy</td>
                            <td>45 K</td>
                            <td>10</td>
                            <td>
                                <span>
                                   <img src="assets/images/Subtract.svg" alt="">
                                </span>
                                <span>
                                   <img src="assets/images/Subtract2.svg" alt="">
                                </span>
                            </td>
                            <td>
                                <span>View</span>
                            </td>
                        </tr>
                        <tr>
                            <td>VLSI Technology</td>
                            <td>Monkey D Luffy</td>
                            <td>45 K</td>
                            <td>10</td>
                            <td>
                                <span>
                                   <img src="assets/images/Subtract.svg" alt="">
                                </span>
                                <span>
                                   <img src="assets/images/Subtract2.svg" alt="">
                                </span>
                            </td>
                            <td>
                                <span>View</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

